div(style="padding :10px")
  btn.btn-primary.btn-lg(ng-click="showValues()")
    | Click me!
  form.form-horizontal(name='', role='form')
    div.form-group
      label.col-sm-2.control-label(for="inputEmail3")
        | 活动名称 :
      div.col-sm-6
        input.form-control(name="title", type="text", ng-model="activity.title", placeholder="活动名称")

    div.form-group
      label.col-sm-2.control-label(for="inputEmail3")
        | 活动描述 :
      div.col-sm-6
        input.form-control(name="desc", type="text", ng-model="activity.desc", placeholder="活动描述")

    div.form-group
      label.col-sm-2.control-label(for="inputEmail3")
        | 活动类型 :
      div.col-sm-6
        div.btn-group(ng-model="activity.type" bs-radio-group)
          div.btn.btn-default
            input.btn.btn-default(type="radio" value="1")
            | 所有人可参加
          div.btn.btn-default
            input.btn.btn-default(type="radio" value="2")
            | 注册用户可参加
          div.btn.btn-default
            input.btn.btn-default(type="radio" value="3")
            | 有电话可参加
          div.btn.btn-default
            input.btn.btn-default(type="radio" value="4")
            | 激活可参加

    div.form-group
      label.col-sm-2.control-label(for="inputEmail3")
        | 优先级别 :
      div.col-sm-6
        input.form-control(name="order", type="number",  ng-model="activity.order", max="{{activity.order}}")

    div.form-group
      label.col-sm-2.control-label(for="inputEmail3")
        | 活动类型 :
      div.col-sm-6
        div.btn-group(ng-model="activity.status" bs-radio-group)
          div.btn.btn-default
            input(type="radio" value="1")
            | 开启
          div.btn.btn-default
            input(type="radio" value="0")
            | 关闭

    div.form-group
      label.col-sm-2.control-label(for="inputEmail3")
        | 活动发布 :
      div.col-sm-6
        div.btn-group(ng-model="activity.published" bs-radio-group)
          div.btn.btn-default
            input.btn.btn-default(type="radio" value="1")
            | 上线
          div.btn.btn-default
            input.btn.btn-default(type="radio" value="0")
            | 下线

    div.form-group
      label.col-sm-2.control-label(for="inputEmail3")
        | 活动地址 :
      div.col-sm-6
        input.form-control(name="url", type="url", ng-model="activity.url", ng-required="true")

    div.form-group
      label.col-sm-2.control-label(for="inputEmail3")
        | 活动图片 :
      div.col-sm-6
        input.form-control(name="img", type="url", ng-model="activity.img", ng-required="true")

    div.form-group
      label.col-sm-2.control-label(for="inputEmail3")
        | 分享数量 :
      div.col-sm-6
        input.form-control(name="share", type="number", ng-model="activity.share", ng-required="true", readonly="readonly")

    button.btn.btn-default(type="submit") Submit



