div(style="padding :10px")
  button.btn.btn-default(ng-click="show()") Show
  div.btn-group(ng-model="activity.type" bs-radio-group)
    label.btn.btn-default
      input.btn.btn-default(type="radio" value="1")
      | 所有人可参加
    label.btn.btn-default
      input.btn.btn-default(type="radio" value="2")
      | 注册用户可参加
    label.btn.btn-default
      input.btn.btn-default(type="radio" value="3")
      | 有电话可参加
    label.btn.btn-default
      input.btn.btn-default(type="radio" value="4")
      | 激活可参加

  div.btn-group(ng-model="activity.status" bs-checkbox-group)
    label.btn.btn-default
      input.btn.btn-default(type="checkbox" value="1")
      | 所有人可参加
    label.btn.btn-default
      input.btn.btn-default(type="checkbox" value="2")
      | 注册用户可参加
    label.btn.btn-default
      input.btn.btn-default(type="checkbox" value="3")
      | 有电话可参加
    label.btn.btn-default
      input.btn.btn-default(type="checkbox" value="4")
      | 激活可参加