
<div style="padding :10px">
  <button ng-click="show()" class="btn btn-default">Show</button>
  <div ng-model="activity.type" bs-radio-group="bs-radio-group" class="btn-group">
    <label class="btn btn-default">
      <input type="radio" value="1" class="btn btn-default"/>所有人可参加
    </label>
    <label class="btn btn-default">
      <input type="radio" value="2" class="btn btn-default"/>注册用户可参加
    </label>
    <label class="btn btn-default">
      <input type="radio" value="3" class="btn btn-default"/>有电话可参加
    </label>
    <label class="btn btn-default">
      <input type="radio" value="4" class="btn btn-default"/>激活可参加
    </label>
  </div>
  <div ng-model="activity.status" bs-checkbox-group="bs-checkbox-group" class="btn-group">
    <label class="btn btn-default">
      <input type="checkbox" value="1" class="btn btn-default"/>所有人可参加
    </label>
    <label class="btn btn-default">
      <input type="checkbox" value="2" class="btn btn-default"/>注册用户可参加
    </label>
    <label class="btn btn-default">
      <input type="checkbox" value="3" class="btn btn-default"/>有电话可参加
    </label>
    <label class="btn btn-default">
      <input type="checkbox" value="4" class="btn btn-default"/>激活可参加
    </label>
  </div>
</div>